<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- <link rel="icon" type="image/png" href="/assets/images/favicon.png"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
</head>
<body>

    <div class="container">
        <div class="sidebar">
            <img src="/assets/images/profile.jpeg" alt="Profile" class="profile-img">
            
            <h1>{{ site.title }}</h1>
            <p>{{ site.description }}</p>
            
            <div class="social-links">
                <a href="mailto:falensiazmi@gmail.com" style="color: #333;"><i class="fa-solid fa-envelope"></i></a>
                <a href="https://github.com/falensiazmi" style="color: #333;"><i class="fa-brands fa-github"></i></a>
                <a href="https://linkedin.com/in/muhammad-falensi-azmi" style="color: #0077b5;"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://x.com/frinzthecoder" style="color: #000;"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://scholar.google.com/citations?user=VYkrtsMAAAAJ&hl=en" style="color: #4285F4;"><i class="ai ai-google-scholar"></i></a>
            </div>
        </div>

        <div class="content">
            {{ content }}
        </div>
    </div>

</body>
</html>